<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399425230047-pgkokl2s84lfbv1169dfa10e1bvuq4s6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399425230047-pgkokl2s84lfbv1169dfa10e1bvuq4s6</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>API_KEY</key>
	<string>AIzaSyDdpdkEm7AYR0L9rhwYbLMkicetv-VB6Eg</string>
	<key>GCM_SENDER_ID</key>
	<string>399425230047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>veca.di4l.vn.vecaprovider</string>
	<key>PROJECT_ID</key>
	<string>veca-d0102</string>
	<key>STORAGE_BUCKET</key>
	<string>veca-d0102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:399425230047:ios:c0f8dea2559df4f7d0c56a</string>
	<key>DATABASE_URL</key>
	<string>https://veca-d0102.firebaseio.com</string>
</dict>
</plist>
